*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

font-family:'Inter',sans-serif;

background:
linear-gradient(
135deg,
#020617,
#111827
);

color:white;

min-height:100vh;

}



nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 8%;

background:rgba(15,23,42,0.7);

backdrop-filter:blur(10px);

}


nav h2{

font-size:28px;

}


nav span{

color:#38bdf8;

}


nav a{

color:white;

text-decoration:none;

margin-left:25px;

}



nav a:hover{

color:#38bdf8;

}



main{

padding:60px 8%;

}



footer{

text-align:center;

padding:30px;

color:#94a3b8;

}



.hero{

min-height:70vh;

display:flex;

flex-direction:column;

justify-content:center;

}



.hero h1{

font-size:55px;

background:linear-gradient(
90deg,
#38bdf8,
#a855f7
);

-webkit-background-clip:text;

color:transparent;

}


.hero p{

font-size:20px;

margin-top:20px;

max-width:700px;

line-height:1.6;

}



.btn{

display:inline-block;

margin-top:30px;

padding:14px 30px;

background:#38bdf8;

color:#020617;

border-radius:30px;

text-decoration:none;

font-weight:600;

}